mat-panel-title {
  font-family: Tahoma, Geneva, sans-serif;
  text-align: left;
  color: white;
}

body {
  background-image: url(img.jpg) ;
  background-size: cover;
  background-position:center;
  height:720px;
  margin: auto;
  padding: 100px ;
}
#everything{
  margin: auto;
  width: 100%;
  text-align: left;
}

.form {
  text-align: center;
}

input {
  margin: 5px;
  padding: 10px;
  border:gray;
  border-radius: 4px;
}

.input {
  margin: 5px;
  padding: 10px;
  color:yellow;
}

.btn:hover {
  background-color: white;
  color: rgb(92, 92, 92);
  border: 2px solid rgb(51, 182, 160);
}

.btn-other:hover {
  color:rgb(26, 163, 255);
  font-weight: bold;
}

.btn {
  width: max-content;
  text-align: bottom;
  margin: 5px;
  padding: 10px 40px 10px 40px;
  color: white;
  background-color: rgb(51, 182, 160);
  border: 2px solid rgb(51, 182, 160);
}


.btn-other {
  text-align: center;
  color: gray;
  cursor: pointer;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: rgb(26, 163, 255) !important;
}

::ng-deep.mat-form-field-underline {
  background-color: rgb(26, 163, 255) !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: rgb(26, 163, 255) !important;;
}

::ng-deep input.mat-input-element {
  color: rgb(26, 163, 255);
}


mat-card{
  margin: 0 auto;
  width: 300px;
  text-align: center;
}


